*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .content{
    height: auto;
    width: 100%;
    position: relative;
  }
  .content .images{
    height: auto;
    width: 50%;
    margin: 10px 25%;

  }
  .content .images img{
    height: auto;
    width: 100%;
  }
  .btm-slides{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .btm-slides span{
    height: 15px;
    width: 50px;
    border: 2px solid #089D49;
    margin: 0 3px;
    cursor: pointer;
  }
  .sliders{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    cursor: pointer;
    border: 2px solid #089D49;
    background: rgba(255,255,255,0.1);
  }
  .sliders:hover{
    background: rgba(255,255,255,0.2);
  }
  .right{
    right: 0;
  }
  .sliders span{
    line-height: 41px;
    font-size: 35px;
    color: #089D49;
  }


